<div class="userpage-container">
  <div id="fav-image"><img src="/images/013-signal.png" width="64px" alt="Locals"></div>
  <h1 class="favourite-title">here are your favourite spots:</h1>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <div class="favourite-container">
    {{#each result.favourites}}
    <p class="saved-favourite"><a href="/spotlist/detail/{{this.id}}">{{this.name}}</a></p>
    {{/each}}
  </div>
</div>