html {
  font-family: "Montserrat, Helvetica Neue, Helvetica Neue Regular, Helvetica Regular",
    "Helvetica", "Arial,sans-serif";
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat, Helvetica Neue, Helvetica Neue Regular, Helvetica Regular",
    "Helvetica", "Arial,sans-serif";
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.navbar {
  background-color: rgb(6, 67, 161);
  width: 100vw;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  position: sticky;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}

.home-container {
  background-image: url("/images/tim-marshall-LPbLMl3CamA-unsplash.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0;
  padding: 5%;
}

.home-title {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 5em;
  margin: 0;
  padding: 0;
}
.home-container h3 {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 2.5rem;
  margin: 4em 0;
}

.select-form {
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  height: 10%;
  padding: 0 10%;
}

.select-wrapper {
  width: 60vw;
  position: relative;
}

.select-wrapper::before {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  pointer-events: none;
}

select {
  background: url(/images/down-chevron.png) no-repeat right;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  color: #000000;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

select option {
  color: #666;
}

select:focus::-ms-value {
  background-color: transparent;
}

.spotlist-site {
  display: flex;
  justify-content: center;
}

.region-container {
  background-color: #fff;
  color: rgb(38, 38, 38);
  width: 75vw;
}

#region-name {
  font-weight: 300;
  font-size: 2em;
}

.spotlist-container {
  font-weight: 200;
  margin: 5vh 0;
  padding: 0 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.spotlist-container h1 {
  font-weight: 250;
  font-size: 3em;
  text-decoration: underline;
}

.region-spot {
  background-color: rgb(225, 225, 225);
  width: 75vw;
}

.region-spot p a {
  text-decoration: none;
  color: rgb(34, 159, 259);
  width: 75vw;
  font-size: 1em;
}

.detail-container {
  margin: 0;
  margin-top: 1%;
}

.detail-container h1 {
  font-weight: 100;
  margin-left: 10vw;
}

.detail-container h2 {
  font-weight: 200;
}

.detail-container h1,
h2,
h3 {
  display: inline;
}

.detail-container form {
  display: inline;
}

#favourite {
  background-image: url(/images/star.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 32px;
  width: 32px;
  border: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
#favourite:hover {
  border: 1px solid rgb(34, 159, 259);
  background-color: rgb(34, 159, 259);
}

#added {
  display: inline;
  color: rgb(34, 159, 259);
}
.detail-names {
  display: inline;
}

.forecast-overview {
  margin: 0 5rem;
  margin-top: 2.5em;
  line-height: 0.35;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: rgb(245, 245, 245);
}

#description-title {
  font-weight: 100;
  color: rgb(135, 155, 164);
}

.forecast-overview div {
  padding: 2.5rem;
}

#recommendation-container {
  background-color: rgb(230, 230, 230);
  margin: 0 5rem;
  display: flex;
  justify-content: space-evenly;
}

#recommendation-container p {
  color: rgb(135, 155, 164);
}

#recommendation-container p span {
  color: black;
}

.ideal-condition-overview {
  display: flex;
}

#ideal-title {
  margin-top: 1.75em;
}

#ideal-title h3 {
  font-weight: 200;
  margin-left: 10vw;
  margin-top: 2.5em;
  font-size: 2em;
}

button span {
  display: none;
}

#form-container {
  margin: 30px auto;
  width: 380px;
}

#form-container label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form-container input,
#form-container button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form-container button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form-container button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
