html {
  font-family: "Montserrat, Helvetica Neue, Helvetica Neue Regular, Helvetica Regular", "Helvetica", "Arial,sans-serif";
  font-size: 16px;
  margin: 0;
  padding: 0; }

body {
  font-family: "Montserrat, Helvetica Neue, Helvetica Neue Regular, Helvetica Regular", "Helvetica", "Arial,sans-serif";
  margin: 0;
  padding: 0;
  font-size: 16px; }

.navbar {
  background-color: #0643a1;
  width: 100vw;
  font-size: 2em;
  display: flex;
  justify-content: space-around;
  padding: 1%;
  position: sticky; }

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100; }

.home-container {
  background-image: url("/images/tim-marshall-LPbLMl3CamA-unsplash.jpg");
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  margin: 0;
  padding: 5%; }

.home-title {
  text-align: center;
  color: white;
  font-weight: 100;
  font-size: 5em;
  margin: 0;
  padding: 0; }

.home-container h3 {
  text-align: center;
  color: white;
  font-weight: 200;
  font-size: 2.5rem;
  margin: 4em 0; }

.select-form {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  height: 10%;
  padding: 0 10%;
  opacity: 0.85;
  border-radius: 5px; }

.select-wrapper {
  width: 60vw;
  position: relative; }

.select-wrapper::before {
  font-size: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
  color: #fff;
  pointer-events: none; }

select {
  background: url(/images/down-chevron.png) no-repeat right;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  color: #000000;
  font-size: 16px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  outline: none;
  cursor: pointer; }

select::-ms-expand {
  display: none; }

select option {
  color: #666; }

select:focus::-ms-value {
  background-color: transparent; }

.spotlist-site {
  display: flex;
  justify-content: center; }

.region-container {
  background-color: #fff;
  color: #262626;
  width: 75vw; }

#region-name {
  font-weight: 300;
  font-size: 2em; }

.spotlist-container {
  font-weight: 200;
  margin: 5vh 0;
  padding: 0 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.spotlist-container h1 {
  font-weight: 250;
  font-size: 3em;
  text-decoration: underline; }

.region-spot {
  background-color: #e1e1e1;
  width: 75vw; }

.region-spot p a {
  text-decoration: none;
  color: #229fff;
  width: 75vw;
  font-size: 1em; }

.detail-container {
  margin: 0;
  margin-top: 1%;
  margin-bottom: 1%; }

.detail-container h1 {
  font-weight: 100;
  margin-left: 10vw;
  margin-top: 3rem;
  margin-bottom: 0.5rem; }

.detail-container h2 {
  font-weight: 200; }

.detail-container h1,
h2,
h4 {
  display: inline; }

.detail-container form {
  display: inline; }

#favourite {
  background-image: url(/images/star.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 32px;
  width: 32px;
  border: none;
  transition: all ease-in-out 0.2s;
  cursor: pointer; }

#favourite:hover {
  border: 1px solid #229fff;
  background-color: #229fff; }

#added {
  display: inline;
  color: #229fff; }

.detail-names {
  display: inline; }

.forecast-overview {
  margin: 0 5rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: whitesmoke; }

.forecast-overview p {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 1vw; }

#description-title {
  font-weight: 100;
  color: #879ba4; }

.forecast-overview div {
  padding: 2.5rem; }

#recommendation-container {
  background-color: #e6e6e6;
  margin: 0 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: stretch; }

#recommendation-container p {
  color: #879ba4; }

#recommendation-container p span {
  color: black; }

#recommendation-container div {
  display: flex;
  align-items: center; }

.logo {
  width: auto;
  position: center;
  color: #879ba4; }

.logo img {
  padding: 0.25rem; }

.ideal-condition-overview {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  background-color: whitesmoke;
  margin: 0 5rem;
  line-height: 0.35;
  margin-top: 0.25rem;
  align-items: stretch; }

#ideal-title h3 {
  font-weight: 200;
  margin-left: 10vw;
  margin-top: 2.5em;
  margin-bottom: 0.1em;
  font-size: 2em; }

#fav-image {
  display: flex;
  justify-content: center;
  margin-top: 0.5em; }

.favourite-title {
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  color: #262626;
  margin-top: 2rem; }

.favourite-container {
  max-width: 75vw;
  font-weight: 200;
  margin: 5vh 10%;
  padding: 0 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e1e1e1; }

.favourite-container p a {
  text-decoration: none;
  color: #229fff;
  width: 75vw;
  font-size: 1em; }

footer {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: none; }

footer a {
  text-decoration: none;
  color: #229fff; }

button span {
  display: none; }

#form-container {
  margin: 30px auto;
  width: 380px; }

#form-container label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%; }

#form-container input,
#form-container button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px; }

#form-container button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%; }

#form-container button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background; }

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */